<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @requester.company_name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @requester.cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @requester.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @requester.phone %>
</p>

<%= link_to 'Edit', edit_requester_path(@requester) %> |
<%= link_to 'Back', requesters_path %>
